<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <span class="post-date">{{ page.date | date_to_string }}</span>
  {{ content }}
</div>

<div class="pagination">
  {% if page.previous %}
    <a class="pagination-item older" href="{{ BASE_PATH }}{{ page.previous.url }}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if page.next %}
    {% if site.pages == 2 %}
      <a class="pagination-item newer" href="{{ BASE_PATH }}">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ BASE_PATH }}{{ page.next.url }}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>

<div class="related">
  <h2>Related Posts</h2>
  <ul class="related-posts">
    {% for post in site.related_posts limit:3 %}
      <li>
        <h3>
          <a href="{{ site.baseurl }}{{ post.url }}">
            {{ post.title }}
            <small>{{ post.date | date_to_string }}</small>
          </a>
        </h3>
      </li>
    {% endfor %}
  </ul>
</div>
<hr/>
{% include JB/comments %}

